
          <div class="research">
            <h2>Research</h2>
            <ul>
              <li><strong>Agentic System</strong>
                <ul>
                  <li>Projects: <a href="https://github.com/camel-ai/owl">OWL</a>, <a href="https://github.com/ucsb-mlsec/SecCodePLT">SecCodePLT</a></li>
                  <li>(Co-)first-author publications: <a href="https://openreview.net/forum?id=dUsQj7QFvs">THETA (ICML 26)</a>, <a href="https://arxiv.org/abs/2410.11096">SecCodePLT (NeurIPS 25)</a>, <a href="https://arxiv.org/abs/2602.07274">TermiGen (Preprint 26)</a></li>
                  <li>Other publications: <a href="https://arxiv.org/abs/2602.16891">OpenSage (ICML 26)</a>, <a href="https://arxiv.org/abs/2505.23885">OWL (NeurIPS 25)</a></li>
                </ul>
              </li>
              <li><strong>AI Security</strong>
                <ul>
                  <li>Projects: <a href="https://github.com/ucsb-mlsec/VulnLLM-R">VulnLLM-R</a>, <a href="https://github.com/rucnyz/LeakAgent">LeakAgent</a></li>
                  <li>(Co-)first-author publications: <a href="https://arxiv.org/abs/2510.18131">BlueCodeAgent (ICML 26)</a>, <a href="https://arxiv.org/abs/2412.05734">LeakAgent (COLM 25)</a>, <a href="https://arxiv.org/abs/2406.08705">RLbreaker (NeurIPS 24)</a>, <a href="https://arxiv.org/abs/2512.07533">VulnLLM-R (Preprint 26)</a>, <a href="https://arxiv.org/abs/2405.16783">TrojFM (Preprint 24)</a></li>
                  <li>Other publications: <a href="https://arxiv.org/abs/2505.05849">AgentVigil (EMNLP 25)</a>, <a href="https://arxiv.org/abs/2406.08725">RL-JACK (TMLR 26)</a></li>
                </ul>
              </li>
              <li><strong>Others</strong>
                <ul>
                  <li>(Co-)first-author publications: <a href="/assets/pdf/GWMAC_CIKM2022.pdf">GWMAC (CIKM 22)</a></li>
                </ul>
              </li>
            </ul>
          </div>
